:root {
    --color-platinum: #EEE2DF;
    --color-thistle: #DEC1DB;
    --color-liberty: #5B61B2;
    --color-bleu-de-france: #2F80E4;
    --color-little-boy-blue: #6DA0E1;
    --color-hover: #ad74a7;
}

body {
    background-color: var(--color-little-boy-blue);
    margin: 0;
    transition: all .5s ease;
}

.timer-cont {
    background: rgba(222, 193, 219, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 2px rgba(31, 38, 135, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    width: 25vw;
    position: relative;
    z-index: 2;
}

.timer input {
    width: 4rem;
    height: 3rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.timer input::-webkit-inner-spin-button,
.timer input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: white;
}

.timer span {
    font-size: 3rem;
    font-weight: 400;
}

.timer-btns {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
    justify-content: center;
}

.timer-btns button {
    padding: 0.25rem 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    background: var(--color-liberty);
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.timer-btns button:hover {
    border-color: var(--color-hover);
    transform: translateY(-5px);
    border: 1px solid var(--color-hover);
}

.cloud-theme .timer-btns button {
    background: #9277b4;
}

.rain-theme .timer-btns button {
    background: lightblue;
}

.pink-theme .timer-btns button {
    background: #131927;
}

.green-theme .timer-btns button {
    background: #066547;
}

.night-theme .timer-btns button {
    background: #39343a;
}

/*icons */

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(50vh + 5rem);
    z-index: 2;
}

.icon {
    background: rgba(222, 193, 219, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .25rem;
    margin: .25rem;
    transition: transform .2s ease;
}

.icon:hover {
    color: #5961b5;
    cursor: pointer;
    transform: translateY(-5px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(222, 193, 219, 0.3);
}

i {
    font-size: 2.5rem;
}

.cloud-theme .icon:hover {
    color: #9277b4;
}

.rain-theme .icon:hover {
    color: lightblue;
}

.pink-theme .icon:hover {
    color: gray;
}

.green-theme .icon:hover {
    color: #066547;
}

.night-theme .icon:hover {
    color: #7b6481;
}

/*themed backgrounds*/

.cloud-theme {
    background-image: url(./images/clouds.jpg);
    background-size: cover;
    background-position: center;
}

.rain-theme {
    background-color: rgb(112, 112, 222);
}

.pink-theme {
    background-image: url(./images/img.webp);
    background-size: cover;
    background-position: center;
}

.green-theme {
    background: linear-gradient(to right, #052a0c, #426407, #076447);
}

.star-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    z-index: 1;
}

.star {
    position: absolute;
    background: #f4ecd3;
    opacity: 100%;
    border-radius: 50%;
    animation: twinkle 8s infinite;
}

.shooting-star {
    position: absolute;
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
    animation: shoot 6s ease-in-out infinite;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 4px;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), transparent);
        transform: translateX(-100%) rotate(45deg);
    }
}

@keyframes shoot {
    0% {
        transform: translate(0, 0) rotate(-45deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20% {
        transform: translate(-300px, 300px) rotate(-45deg);
        opacity: 0;
    }

    100% {
        transform: translate(-300px, 300px) rotate(-45deg);
        opacity: 0;
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.night-theme {
    background-color: black;
}